.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    width: 960px;
}

.column {
    display: flex;
    height: 960px;
    flex-grow:1;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-grow: 1;
    background-color: lightgrey;
}

#mouseon {
    background-color: black;
}

#mouseoff {
    background-color: lightgrey;
}